In [17]:
import pandas as pd
import pyodbc

In [28]:
cnxn = pyodbc.connect('DRIVER={SQL Server};'
                      'SERVER=DEVACCESSA-PC\LOGIDEV2016;'
                      'DATABASE=DATAKS_MC;'
                      'UID=sa;'
                      'PWD=Logi2131')
                      #'Trusted_Connection=yes;')

#cursor = cnxn.cursor()
#cursor.execute('select top (10) * FROM [DATAKS_MC].[dbo].[POS_TAB]')

#for row in cursor:
#    print(row)
    
#cursor.close()
#cnxn.close()

query = ''' SELECT [F01]
      ,[F1000]
      ,[F02]
      ,[F04]
      ,[F05]
      ,[F06]
      ,[F1001]
      ,[F102]
      ,[F104]
      ,[F106]
      ,[F108]
      ,[F110]
      ,[F1138]
      ,[F1139]
      ,[F114]
      ,[F115]
      ,[F123]
      ,[F1236]
      ,[F1237]
      ,[F124]
      ,[F125]
      ,[F141]
      ,[F149]
      ,[F150]
      ,[F153]
      ,[F154]
      ,[F160]
      ,[F170]
      ,[F171]
      ,[F172]
      ,[F173]
      ,[F174]
      ,[F178]
      ,[F2095]
      ,[F2118]
      ,[F2119]
      ,[F2129]
      ,[F2130]
      ,[F2131]
      ,[F217]
      ,[F2179]
      ,[F2198]
      ,[F2199]
      ,[F2200]
      ,[F2201]
      ,[F2230]
      ,[F2234]
      ,[F2256]
      ,[F2257]
      ,[F2258]
      ,[F2333]
      ,[F2334]
      ,[F2335]
      ,[F2336]
      ,[F2337]
      ,[F2348]
      ,[F303]
      ,[F306]
      ,[F383]
      ,[F61]
      ,[F77]
      ,[F78]
      ,[F79]
      ,[F81]
      ,[F83]
      ,[F84]
      ,[F85]
      ,[F86]
      ,[F87]
      ,[F88]
      ,[F96]
      ,[F97]
      ,[F98]
  FROM [DATAKS_MC].[dbo].[POS_TAB]
'''
#cursor = cnxn.cursor()
#getData = cursor.execute('select top (10) * FROM [DATAKS_MC].[dbo].[POS_TAB]')
#getData = cursor.execute(query)
#df = pd.DataFrame(getData.fetchall())
df = pd.read_sql(query,cnxn)

In [36]:
#import numpy as np
df_cleaned = df.fillna('NULL')
#df_cleaned = df.replace(pd.np.nan,'NULL',regex=True)
df_cleaned

,F01,F1000,F02,F04,F05,F06,F1001,F102,F104,F106,...,F81,F83,F84,F85,F86,F87,F88,F96,F97,F98
0,00000000000001,PAL,OREO COOKIES,10.0,NULL,NULL,0.0,NULL,NULL,0,...,0,0,0,NULL,0,NULL,NULL,1,0,0
1,00000000000002,PAL,UNCLE BEN'S RICE,10.0,NULL,NULL,0.0,NULL,NULL,0,...,1,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
2,00000000000003,PAL,PREMIUM PLUS SODA BISCUITS,10.0,NULL,NULL,0.0,NULL,NULL,0,...,1,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
3,00000000000004,PAL,IGA SALAD DRESSING,10.0,NULL,NULL,0.0,NULL,NULL,0,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,1,NULL,NULL
4,00000000000005,PAL,IDEAL CREAM CORN,10.0,NULL,NULL,0.0,NULL,NULL,0,...,0,0,0,NULL,NULL,NULL,NULL,0,1,0
5,00000000000006,PAL,COKE CLASSIC 12 OZ. CAN,60.0,1,NULL,0.0,NULL,NULL,0,...,0,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
6,00000000000007,PAL,DIET COKE 12 OZ. CAN,60.0,1,NULL,0.0,NULL,NULL,0,...,0,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL
7,00000000000008,PAL,STRAWBERRY JELLO,10.0,NULL,NULL,0.0,NULL,NULL,0,...,NULL,0,0,NULL,NULL,NULL,NULL,NULL,NULL,NULL
8,00000000000009,PAL,RASPBERRY JELLO,10.0,NULL,NULL,0.0,NULL,NULL,NULL,...,1,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
9,00000000000010,PAL,KODAK FILM 35MM BW 24 EXP.,150.0,NULL,NULL,0.0,NULL,NULL,0,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,1,NULL,NULL
10,00000000000011,PAL,SMALL COFFEE,100.0,NULL,NULL,0.0,NULL,NULL,0,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,1,NULL
11,00000000000012,PAL,MEDIUM COFFEE,100.0,NULL,NULL,0.0,NULL,NULL,0,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,1,NULL,NULL
12,00000000000013,PAL,LARGE COFFEE,100.0,NULL,NULL,0.0,NULL,NULL,0,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,1,NULL
13,00000000000014,PAL,DAILY NEWS,130.0,NULL,NULL,0.0,NULL,NULL,0,...,1,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL
14,00000000000015,PAL,6 BEER REGULAR,20.0,6,NULL,0.0,NULL,NULL,0,...,0,NULL,NULL,NULL,NULL,NULL,NULL,1,NULL,NULL
15,00000000000016,PAL,12 BEER REGULAR,20.0,12,NULL,0.0,NULL,NULL,0,...,1,NULL,NULL,NULL,NULL,NULL,NULL,0,NULL,NULL
16,00000000000017,PAL,25 EXPORT A REGULAR,30.0,NULL,NULL,0.0,NULL,NULL,0,...,1,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
17,00000000000018,PAL,25 PLAYERS FILTER,30.0,NULL,NULL,0.0,NULL,NULL,0,...,1,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
18,00000000000019,PAL,JERSEY MILK,50.0,NULL,NULL,0.0,NULL,NULL,0,...,1,0,0,NULL,NULL,NULL,NULL,0,NULL,NULL
19,00000000000020,PAL,ORANGE CRUSH 330 ML,60.0,1,NULL,0.0,NULL,NULL,0,...,0,NULL,NULL,NULL,NULL,NULL,NULL,1,NULL,NULL
20,00000000000021,PAL,MILK 1% 1 LITRE,70.0,NULL,NULL,0.0,NULL,NULL,0,...,NULL,0,0,NULL,NULL,NULL,NULL,NULL,NULL,NULL
21,00000000000022,PAL,MILK 2% 1 LITRE,70.0,NULL,NULL,0.0,NULL,NULL,0,...,NULL,0,0,NULL,NULL,NULL,NULL,NULL,NULL,NULL
22,00000000000023,PAL,MUFFIN,160.0,NULL,NULL,0.0,NULL,NULL,0,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
23,00000000000024,PAL,CHOCOLAT MUFFIN,161.0,NULL,NULL,0.0,NULL,NULL,0,...,1,0,0,NULL,NULL,NULL,NULL,0,NULL,NULL
24,00000000000025,PAL,SANDW. HAM+ SWISS CHEESE,171.0,NULL,NULL,0.0,NULL,NULL,0,...,1,0,0,NULL,NULL,NULL,NULL,0,NULL,NULL
25,00000000000026,PAL,LARGE SLUSH,180.0,NULL,NULL,0.0,NULL,NULL,0,...,0,0,0,NULL,NULL,NULL,NULL,1,NULL,NULL
26,00000000000027,PAL,10 STAMPS,200.0,NULL,NULL,0.0,NULL,NULL,0,...,0,0,0,NULL,NULL,NULL,NULL,1,NULL,NULL
27,00000000000028,PAL,MINI LOTO,210.0,NULL,NULL,0.0,NULL,NULL,0,...,NULL,0,0,NULL,NULL,NULL,NULL,NULL,NULL,NULL
28,00000000000029,PAL,SUPER LOTO,210.0,NULL,NULL,0.0,NULL,NULL,0,...,0,0,0,NULL,0,NULL,NULL,0,0,0
29,00000000000030,PAL,CHOCOLATINE,160.0,NULL,NULL,0.0,NULL,NULL,0,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
30,00000000000031,PAL,CHOCOLAT CROISSANT,160.0,NULL,NULL,0.0,NULL,NULL,0,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
31,00000000000032,PAL,BAGEL 12 PCK,160.0,NULL,NULL,0.0,NULL,NULL,0,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
32,00000000000033,PAL,BAGUETTE,160.0,NULL,NULL,0.0,NULL,NULL,0,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
33,00000000000034,PAL,FRENCH LOAF,160.0,NULL,NULL,0.0,NULL,NULL,0,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
34,00000000000035,PAL,RYE LOAF,160.0,NULL,NULL,0.0,NULL,NULL,0,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
35,00000000000036,PAL,PUMPERNICKLE LOAF,160.0,NULL,NULL,0.0,NULL,NULL,0,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
36,00000000000101,PAL,REGULAR UNLEADED GAS,250.0,NULL,NULL,0.0,NULL,NULL,NULL,...,NULL,1,1,NULL,NULL,NULL,NULL,NULL,NULL,NULL
37,00000000000102,PAL,SUPER UNLEADED GAS,250.0,NULL,NULL,0.0,NULL,NULL,NULL,...,NULL,1,1,NULL,NULL,NULL,NULL,NULL,NULL,NULL
38,00000000000123,PAL,VCR Rental,11.0,NULL,NULL,0.0,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
39,00000000000124,PAL,Titanic,11.0,NULL,NULL,0.0,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
40,00000000004011,PAL,BANANAS,10.0,NULL,NULL,0.0,NULL,NULL,0,...,0,0,0,NULL,0,NULL,NULL,0,0,0
41,00000000004012,PAL,NAVEL ORANGE LARGE 12 PC.,10.0,NULL,NULL,0.0,NULL,NULL,0,...,0,0,0,NULL,0,NULL,NULL,0,0,0
42,00000000004014,PAL,VALENCIA ORANGE SMALL 12 PC.,10.0,NULL,NULL,0.0,NULL,NULL,0,...,0,0,0,NULL,0,NULL,NULL,0,0,0
43,00000000004016,PAL,APPLES RED DELICIOUS 5 LB.,10.0,NULL,NULL,0.0,NULL,NULL,0,...,0,0,0,NULL,0,NULL,NULL,0,0,0
44,00000000004017,PAL,APPLES GRANNY SMITH 12 PC.,10.0,NULL,NULL,0.0,NULL,NULL,0,...,0,0,0,NULL,0,NULL,NULL,0,0,0
45,00000000004019,PAL,APPLES MCINTOSH 5 LB.,10.0,NULL,NULL,0.0,NULL,NULL,0,...,0,0,0,NULL,0,NULL,NULL,0,0,0
46,00000000004022,PAL,GRAPES GREEN SEEDLESS,10.0,NULL,NULL,0.0,NULL,NULL,0,...,0,0,0,NULL,0,NULL,NULL,0,0,0
47,00000000004023,PAL,GRAPES RED SEEDLESS,10.0,NULL,NULL,0.0,NULL,NULL,0,...,0,0,0,NULL,0,NULL,NULL,0,0,0
48,00000000004028,PAL,STRAWBERRY 1 PT.,10.0,NULL,NULL,0.0,NULL,NULL,0,...,0,0,0,NULL,0,NULL,NULL,0,0,0
49,00000000004322,PAL,CRENSHAW MELON,10.0,NULL,NULL,0.0,NULL,NULL,0,...,0,0,0,NULL,0,NULL,NULL,0,0,0
50,00000000004599,PAL,EGGPLANT,10.0,NULL,NULL,0.0,NULL,NULL,0,...,0,0,0,NULL,0,NULL,NULL,0,0,0
51,00000000004605,PAL,ESCAROLE,10.0,NULL,NULL,0.0,NULL,NULL,0,...,0,0,0,NULL,0,NULL,NULL,0,0,0
52,00000000004632,PAL,BOSTON LETTUCE,10.0,NULL,NULL,0.0,NULL,NULL,0,...,0,0,0,NULL,0,NULL,NULL,0,0,0
53,00000000004655,PAL,OKRA,10.0,NULL,NULL,0.0,NULL,NULL,0,...,0,0,0,NULL,0,NULL,NULL,0,0,0
54,00000000004674,PAL,GREEN PEAS,10.0,NULL,NULL,0.0,NULL,NULL,0,...,0,0,0,NULL,0,NULL,NULL,0,0,0
55,00000000012345,PAL,CustomerId,10.0,NULL,NULL,0.0,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
56,00000000123456,PAL,MembershipId,10.0,NULL,NULL,0.0,NULL,NULL,NULL,...,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
57,00224631000000,PAL,Boneless,30.0,NULL,NULL,0.0,NULL,NULL,NULL,...,NULL,1,NULL,NULL,NULL,NULL,NULL,1,NULL,NULL

In [32]:
df_mod = pd.read_sql(query,cnxn)

In [34]:
df_mod_cleaned = df_mod.replace(np.nan,'NULL',regex=True)
ne = (df_cleaned != df_mod_cleaned).any(1)
df_cleaned[ne]

,F01,F1000,F02,F04,F05,F06,F1001,F102,F104,F106,...,F81,F83,F84,F85,F86,F87,F88,F96,F97,F98
0,00000000000001,PAL,OREO COOKIES,10.0,NULL,NULL,0.0,NULL,NULL,0,...,0,0,0,NULL,0,NULL,NULL,1,0,0

In [8]:
class Rec:
    pass

Rec.x = 'Bob'

In [9]:
inst = Rec()
inst.x

'Bob'

In [11]:
Rec.__dict__

mappingproxy({'__module__': '__main__',
              '__dict__': <attribute '__dict__' of 'Rec' objects>,
              '__weakref__': <attribute '__weakref__' of 'Rec' objects>,
              '__doc__': None,
              'x': 'Bob'})

In [12]:
class Base:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    
    def info(self):
        return ('Name:{} Age:{}'.format(self.name,self.age))

In [13]:
class Der(Base):
    def __init__(self,name,age,score):
        super().__init__(name,age)
        self.score = score
    
    def info(self):
        return ('Name:{} Age:{} Score:{}'.format(self.name,self.age,self.score))

In [14]:
der = Der('Bob','12','50')
der.info()

'Name:Bob Age:12 Score:50'

In [16]:
Base.__dict__
Der.__dict__

mappingproxy({'__module__': '__main__',
              '__init__': <function __main__.Der.__init__(self, name, age, score)>,
              'info': <function __main__.Der.info(self)>,
              '__doc__': None})